
// Général
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway';
}

h1{
    margin: 10px;
    font-family: 'Satisfy';
    font-size: 4.5vw;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 10px;
    width: 500px;
}

a{
    color: inherit;
    text-decoration: none !important;
}

a:hover{
    color: inherit;
}

//Component header

.nav-item a{
    color: black;
    font-family: 'Amatic SC';
    font-size: 40px;
}

//Component-accueil

.div-accueil{
    padding: 30px;
    font-family: 'Playfair Display';
    font-size: 1.6vw;
    background-color: rgba(23, 162, 184, 0.6);

}

#message-accueil { 
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari et Chrome */
    -o-animation: fadein 8s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

//Component-continents
.lien-continent{
    margin: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: bolder;
    font-size: 2.5vw;
    height: 10vw;
    width: 16vw;
    border-radius: 100%;
    border: none;
}

.background-zebra{
    color: rgb(221, 136, 9);
    background-image: url("./assets/pattern/zebra.jpg");
}

.background-stars{
    color: blue;
    background-image: url("./assets/pattern/stars-america.jpg");
}

.background-asia{
    color: black;
    background-image: url("./assets/pattern/asia.jpg");
}

.background-europe{
    color: black;
    background-image: url("./assets/pattern/europe.jpg");
}

.background-tropical{
    color: rgb(223, 76, 100);
    background-image: url("./assets/pattern/tropical.jpg");
}

.style-playfair{
    font-family: 'Playfair Display';
    font-size: 1.8vw;
    text-align: center;
}

.carousel-inner {
    padding:0;
    width: 100%;
    height: auto;
  }

//Component proposition-destination

.background-gris-clair{
    background-color: rgb(238, 238, 238);
}
.card{
    margin: 25px;
}

.card a{
    text-decoration: none;
}

.card-title{
    color: black;
    text-transform: uppercase;
}

.card-text{
    color: rgb(97, 95, 95);
}

//Component details-voyage

.titre-voyage{
    margin-top: 10px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.titre-hotel{
    font-size: 20px;
}

.background-blanc{
    padding: 25px;
    margin: 20px;
    background-color: white;
}

.titres-details-voyage{
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
}

.trait-bordeau{
    color: rgb(189, 19, 67);
    font-size: 35px;
    font-weight: bold;
}

.liste-details-voyage{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: italic;
}

.texte-details-voyage{
    font-size: 15px;
    color: rgb(80, 80, 80);
}

// ** Partie devis **

.devis-fond-blanc{
    background-color: white;
}

.padding-devis{
    padding: 15px;
}

.titre-devis{
    font-weight: bold;
}

.sous-titre-devis-bordeaux{
    color: rgb(189, 19, 67);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.titre-devis-uppercase{
    font-weight: bold;
    text-transform: uppercase;
}

.ligne-verticale {
    border-left: 1px solid rgb(177, 174, 174);
}

.ligne-top{
    border-top: 1px solid rgb(177, 174, 174);
    width: 50%;
}

.sous-titre-devis{
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
}

.mini-ecriture-grise{
    color: gray;
    font-size: 15px;
}

.mini-ecriture-noire-bold{
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.prix-sejour{
    color: rgb(189, 19, 67);
    font-size: 25px;
    font-weight: bold;
}

.par-pers{
    color: rgb(189, 19, 67);
    font-size: 17px;
}

.petit-carre :hover, .petit-carre :active, .petit-carre :focus{
    background-color: rgb(238, 234, 234);
}

.petit-carre-vol:hover, .petit-carre :active, .petit-carre :focus{
    background-color: rgb(238, 234, 234);
}

.btn-secondary{
    margin: 5px;
    background-color: white;
    border: rgb(219, 219, 219) solid 1px;
}

.padding-gauche{
    padding-left: 25px;
}

.bouton-final-devis{
    margin: 20px;
    height: 60px;
    width: 200px;
    background-color: rgb(189, 19, 67);
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.margin-top{
    margin-top: 10px;
}

// ** sous partie participants

.sous-div-participants{
    margin: 10px;
}

.champ-nombre{
    margin: 5px;
    width: 40px;
    border: none;
    text-align: center;
}

.bouton-plus-moins{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: rgb(192, 190, 190) solid 1px;
    border-radius: 0;
}

.border-gris-clair{
    border: rgb(177, 174, 174) solid 1px;
}

// Component devis-finalise

.devis-final-titre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
}
.ticket-resume-titre{
    text-transform: uppercase;
    font-weight: bold;
}

.ligne-top-pointille{
    padding-top: 10px;
    border-top: 1px dashed rgb(177, 174, 174);
    width: 100%;
}

.margin-20-px{
    margin: 20px;
}

.margin-10-px{
    margin: 10px;
}

.bordure-top-bordeaux{
    border-top: 3px solid rgb(189, 19, 67);
    width: 100%;
}

.rounded{
    border-radius: 50px;
}

#icone-restaurant{
    height: 30px;
    width: 30px;
}

.mini-ecriture-noire-bold-13px{
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.mini-ecriture-noire-bold-right{
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

.titre-assurance{
    margin: 10px;
    font-weight: bold;
}

.points-assurance{
    margin-left: 10px;
    margin-bottom: 10px;
    color: gray;
    font-size: 13px;
}

.border-gray{
    border: gray solid 1px;
}

.total-TTC{
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.options-ecriture-grise{
    color: gray;
    font-size: 12px;
}

.options-ecriture-grise-right{
    color: gray;
    font-size: 12px;
    text-align: right;
}

.titre-options-center{
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

// Component not-found
.not-found{
    padding: 5px;
}

.not-found a {
    font-family: 'Amatic SC';
}

.bouton-retour{
    font-size: 30px;
    font-weight: bold;
}