<div class="container-fluid background-gris-clair">
    <div class="container">
        <div class="row">

            <!-- Partie résumé détaillé du devis et proposition des options -->
            <div class="col-lg-7 col-md-12 col-sm-12 col-12 padding-devis">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <h5 class="devis-final-titre">Votre séjour en {{devisFinalise.continentDestination}}, {{
                            devisFinalise.nomClient }}</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="row d-flex justify-content-center">
                            <span class="mini-ecriture-noire-bold">Référence du devis : {{ devisFinalise.idDevis
                                }}</span>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <span class="mini-ecriture-grise">(à rappeler pour la finalisation de votre commande auprès
                                de nos équipes)</span>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex justify-content-center">
                        <em class="trait-bordeau">—</em>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-between">
                        <span class="mini-ecriture-grise">Votre séjour pour {{
                            modifierTexteParticipants(devisFinalise.nbParticipantsAdulte,
                            devisFinalise.nbParticipantsEnfant, devisFinalise.nbParticipantsBebe) }} :</span>
                        <span class="mini-ecriture-noire-bold">{{ devisFinalise.montantTotalTTC }} €</span>
                    </div>
                    <div class="col-md-12 d-flex justify-content-between">
                        <span class="mini-ecriture-grise">Dont frais de dossier :</span>
                        <span class="mini-ecriture-noire-bold">25 €</span>
                    </div>
                </div>

                <!-- Sous-partie Hébergement -->
                <div class="row margin-20-px">
                    <div class="col-md-12">
                        <h6 class="titre-devis-uppercase">Votre hébergement</h6>
                    </div>
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row  margin-10-px">
                            <div class="col-md-12 col-sm-12 col-12 d-flex justify-content-between">

                                <span class="mini-ecriture-grise">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="rgb(189, 19, 67)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>
                                    {{ nomChambre }} pour {{ devisFinalise.nbNuits }} nuits :</span>
                                <span class="mini-ecriture-noire-bold">+ 0 €</span>
                            </div>
                        </div>
                        <div class="row margin-10-px">
                            <div class="col-md-12 col-sm-12 col-12 d-flex justify-content-between"
                                *ngIf="arrayDetailsVoyage[0].formulePensionComplete">
                                <span class="mini-ecriture-grise">
                                    <img src="../../assets/icones/restaurant.svg" alt="" id="icone-restaurant">
                                    Pension complète (All inclusive) : </span>
                                <span class="mini-ecriture-noire-bold">inclus</span>
                            </div>
                            <div class="col-md-12  col-sm-12 col-12 d-flex justify-content-between"
                                *ngIf="arrayDetailsVoyage[0].formulePetitDejeuner">
                                <span class="mini-ecriture-grise">
                                    <img src="../../assets/icones/restaurant.svg" alt="" id="icone-restaurant">
                                    Formule Petit-déjeuner : </span>
                                <span class="mini-ecriture-noire-bold">inclus</span>
                            </div>
                            <div class="col-md-12  col-sm-12 col-12 d-flex justify-content-between"
                            *ngIf="arrayDetailsVoyage[0].formuleSansPension">
                            <span class="mini-ecriture-grise">
                                <img src="../../assets/icones/restaurant.svg" alt="" id="icone-restaurant">
                                Formule Sans Pension  </span>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- Sous-partie Transport -->
                <div class="row margin-20-px" *ngIf="devisFinalise.transportInclu">
                    <div class="col-md-12">
                        <h6 class="titre-devis-uppercase">Votre transport</h6>
                    </div>
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row margin-10-px d-flex justify-content-between">
                            <div class="col-md-10 col-sm-8 col-9">
                                <span class="mini-ecriture-grise">
                                    <span class="mini-ecriture-grise">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="rgb(189, 19, 67)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                        </svg>
                                        {{
                                        modifierVilleDepart(devisFinalise.transportInclu, devisFinalise.villeDepart) }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                                        </svg>
                                        {{ arrayDetailsVoyage[0].villeDestination }} (classe économique) :
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-2 col-sm-4 col-3 d-flex justify-content-end">
                                <span class="mini-ecriture-noire-bold">+ 0 €</span>
                            </div>
                        </div>
                        <div class="row margin-10-px">
                            <div class="col-md-9 col-sm-7 col-8 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">
                                    <span class="mini-ecriture-grise"> {{
                                        modifierVilleDepart(devisFinalise.transportInclu, devisFinalise.villeDepart) }}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z" />
                                        </svg>
                                        {{ arrayDetailsVoyage[0].villeDestination }} (classe Affaire) :
                                    </span>
                                </span>
                            </div>
                            <div class="col-md-3 col-sm-5 col-4 d-flex flex-column">
                                <span class="options-ecriture-grise-right"> à partir de</span>
                                <span class="mini-ecriture-noire-bold-right">{{ tarifVolAffaire }} €</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sous-partie Transfert -->
                <div class="row margin-20-px" *ngIf="devisFinalise.transportInclu">
                    <div class="col-md-12">
                        <h6 class="titre-devis-uppercase">Transfert</h6>
                    </div>
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row margin-10-px d-flex justify-content-between">
                            <div class="col-md-9 col-sm-7 col-8">
                                <span class="mini-ecriture-grise">
                                    <svg *ngIf="arrayDetailsVoyage[0].transfertCollectif"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="rgb(189, 19, 67)" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                    </svg>

                                    Transfert collectif aller-retour aéroport /
                                    hôtel :</span>
                            </div>
                            <div class="col-md-3 col-sm-5 col-4 d-flex justify-content-end">
                                <span class="mini-ecriture-noire-bold">{{
                                    modifierTransfertCollectifInclu(arrayDetailsVoyage) }}</span>
                            </div>
                        </div>
                        <div class="row margin-10-px">
                            <div class="col-md-9 col-sm-7 col-8">
                                <span class="mini-ecriture-grise">Transfert privatif aller-retour aéroport /
                                    hôtel :</span>
                            </div>
                            <div class="col-md-3 col-sm-5 col-4 d-flex justify-content-end">
                                <span class="mini-ecriture-noire-bold">+ {{ arrayDetailsVoyage[0].prixTransfertPrivatif
                                    }} €</span>
                                <span class="options-ecriture-grise-right"> / pers.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sous-partie Option flex -->
                <div class="row margin-20-px d-flex justify-content-center" *ngIf="!devisFinalise.transportInclu">
                    <h6 class="titre-options-center">Il est possible de choisir notre option Flex et/ou une de nos
                        assurances pour profiter de votre séjour en toute sérénité.</h6>
                    <span class="options-ecriture-grise">En nous communiquant vos références de vol, nos équipes
                        négocieront pour vous les conditions de modification / annulation de vol auprès des compagnies
                        aériennes.</span>
                </div>
                <div class="row margin-20-px">
                    <div class="col-md-12">
                        <h6 class="titre-devis-uppercase">Votre option Flex</h6>
                    </div>
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row margin-10-px  d-flex justify-content-between">
                            <div class="col-md-9 col-sm-8 col-8">
                                <span class="mini-ecriture-grise">Flex by invitation au voyage <span
                                        class="options-ecriture-grise">(Prix pour l'ensemble des participants)</span>
                                    :</span>
                            </div>
                            <div class="col-md-3 col-sm-4 col-4 d-flex justify-content-end">
                                <span class="mini-ecriture-noire-bold">+ {{
                                    calculTarifOptionFlex(devisFinalise.nbParticipantsAdulte,
                                    devisFinalise.nbParticipantsEnfant, arrayDetailsVoyage[0].prixOptionFex) }} €</span>
                            </div>
                        </div>
                        <div class="row margin-10-px">
                            <span class="mini-ecriture-noire-bold-13px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(189, 19, 67)"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Soyez libre de modifier les dates de votre séjour selon vos projets</span>
                            <span class="mini-ecriture-noire-bold-13px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(189, 19, 67)"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Modifiez sans frais : aucun frais lié au changement de vos vols</span>
                            <span class="mini-ecriture-noire-bold-13px">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(189, 19, 67)"
                                    class="bi bi-check2" viewBox="0 0 16 16">
                                    <path
                                        d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                </svg>
                                Sans aucun justificatif, jusqu'à 8 jours avant le jour du départ</span>
                        </div>
                    </div>
                </div>

                <!-- Sous-partie Assurances -->
                <div class="row margin-20-px">
                    <div class="col-md-12">
                        <h6 class="titre-devis-uppercase">Vos assurances</h6>
                    </div>
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row margin-10-px">
                            <span class="options-ecriture-grise">Les prix affichés sont calculés pour l'ensemble des
                                participants.</span>
                        </div>
                        <div class="row margin-10-px">
                            <div class="col-md-6 border-gray">
                                <div class="row d-flex justify-content-between ">
                                    <h6 class="titre-assurance">Multirisque Premium</h6>
                                    <span class="mini-ecriture-noire-bold">+ {{
                                        calculTarifAssuranceMultirisquePremium(devisFinalise.nbParticipantsAdulte,
                                        devisFinalise.nbParticipantsEnfant,
                                        arrayDetailsVoyage[0].prixAssuranceMultirisquePremium) }} €</span>
                                </div>
                                <div class="row">
                                    <span class="points-assurance"
                                        *ngFor="let item of recupererinfosAssuranceMultirisquePremium()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                            <path
                                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                        </svg> {{item}}<br>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 border-gray">
                                <div class="row d-flex justify-content-between ">
                                    <h6 class="titre-assurance">Multirisque Premium</h6>
                                    <span class="mini-ecriture-noire-bold">+ {{
                                        calculTarifAssuranceAnnulationPremium(devisFinalise.nbParticipantsAdulte,
                                        devisFinalise.nbParticipantsEnfant,
                                        arrayDetailsVoyage[0].prixAssuranceAnnulationPremium) }} €</span>
                                </div>
                                <div class="row">
                                    <span class="points-assurance"
                                        *ngFor="let item of recupererinfosAssuranceAnnulationPremium()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                                            <path
                                                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                                        </svg> {{item}}<br>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-10-px">
                            <div class="col-md-12 border-gray d-flex justify-content-between">
                                <span class="titre-assurance">Sans assurance</span>
                                <span class="mini-ecriture-noire-bold">+ 0 €</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Sous-partie Total -->
                <div class="row margin-20-px">
                    <div class="col-md-12 devis-fond-blanc bordure-top-bordeaux">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="total-TTC">Total TTC :</span>
                                <span class="prix-sejour">{{ devisFinalise.montantTotalTTC }} €</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-10-px">
                    <span class="options-ecriture-grise">Les prix des options sont à titre indicatif par personne et
                        seront ajustés
                        au moment de la commande.</span>
                    <span class="options-ecriture-grise">Pour tout changements d'options, veuillez le préciser à nos
                        équipes lors de la commande.</span>
                </div>
            </div>

            <!-- Partie résumé "ticket" du devis -->
            <div class="col-lg-4 col-md-12 col-sm-12 col-12 padding-devis devis-fond-blanc margin-10-px ">
                <div class="row margin-top">
                    <div class="col-md-12">
                        <img class="d-block w-100" src="{{arrayDetailsVoyage[0].urlImage1}}" alt="">
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col-md-12">
                        <h6 class="ticket-resume-titre">{{ arrayDetailsVoyage[0].villeDestination }} - {{
                            devisFinalise.paysDestination }}</h6>
                        <h6>{{ nomHotel }}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="mini-ecriture-noire-bold">{{ modifierTexteVol(devisFinalise.transportInclu) }}</p>
                    </div>
                </div>
                <div class="row margin-top ligne-top-pointille">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">Ville de départ :</span>
                                <span class="mini-ecriture-noire-bold">{{
                                    modifierVilleDepart(devisFinalise.transportInclu, devisFinalise.villeDepart)
                                    }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">Ville d'arrivée :</span>
                                <span class="mini-ecriture-noire-bold">{{ arrayDetailsVoyage[0].villeDestination
                                    }}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">Date de début :</span>
                                <span class="mini-ecriture-noire-bold">{{devisFinalise.dateDepart |
                                    date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">Durée :</span>
                                <span class="mini-ecriture-noire-bold">{{ devisFinalise.nbNuits + 2 }} jours - {{
                                    devisFinalise.nbNuits }} nuits</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <span class="mini-ecriture-grise">Participants :</span>
                                <span class="mini-ecriture-noire-bold-13px">{{
                                    modifierTexteParticipants(devisFinalise.nbParticipantsAdulte,
                                    devisFinalise.nbParticipantsEnfant, devisFinalise.nbParticipantsBebe) }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top ligne-top-pointille">
                    <div class="col-md-12 d-flex justify-content-between">
                        <span class="mini-ecriture-grise">Total TTC :</span>
                        <span class="mini-ecriture-noire-bold">{{ devisFinalise.montantTotalTTC }} €</span>
                    </div>
                </div>
                <div class="row margin-top ligne-top-pointille">
                    <div class="col-md-12">
                        <span class="titre-options-center">Vous pouvez prendre contact avec nos équipes afin de finaliser votre commande et ajouter des options selon vos envies</span>
            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "rgb(189, 19, 67)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>