<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h2>Mentions légales</h2>
        </div>
        <div class="col-md-12">
            <p>Cette application, créée pour mon portfolio de projets, s'appuit sur des données réelles sur les
                destinations mais n'a pas de but commercial ou publicitaire.</p>
            <p>Les images et icones affichées sur cette application proviennent de sources libre d'utilisation (<a
                    href='https://www.pexels.com/fr-fr/'>Pexels</a>, <a
                    href='https://www.freepik.com/vectors/'>Freepik</a>, <a
                    href="https://www.flaticon.com/">Flaticon</a>), ainsi que des sites web des hôtels concernés.</p>
            <p>Les auteurs des images sont indiqués ci-dessous : </p>
        </div>
        <div class="col-md-12">
            <ul>
                <li>Julia Volk</li>
                <li>Mostafa El Shershaby</li>
                <li>Vincent Gerbouin</li>
                <li>Flo Maderebner</li>
                <li>Francesco Ungaro</li>
                <li>Tyler Lastovich</li>
                <li>Nextvoyage</li>
                <li>Errin Casano</li>
                <li>Murat Şahin</li>
                <li>Spencer Davis</li>
                <li>Iván Rivero</li>
                <li>Maria Orlova</li>
                <li>Michal Marek</li>
                <li>Git Stephen Gitau</li>
                <li>Vishva Patel</li>
                <li>Nicolas Postiglion</li>
                <li>Gabriel Garcia</li>
                <li>Meliani Idriss</li>
                <li>Hendrik Cornelissen</li>
                <li>Alexandra Karnasopoulos</li>
                <li>Humphrey Muleba</li>
                <li>Matthias Oben</li>
                <li>Ryutaro Tsukata</li>
                <li>Ivan Bertolazzi</li>
                <li>Ivon Gorgonio</li>
                <li>Hana Brannigan</li>
                <li>Leonardo Rossatti</li>
                <li>Luis Dalvan</li>
                <li>Carlos Oliva</li>
                <li>Dimitri Dim</li>
                <li>Asad Photo Maldives</li>
                <li>Artem Beliaikin</li>
                <li>Alexandr Podvalny</li>
                <li>Tirachard Kumtanom</li>
                <li>Johannes W</li>
                <li>Jo Kassis</li>
                <li>Reinhard Bruckner</li>
                <li>Nizar Ben Halilou</li>
                <li>jimmy teoh</li>
                <li>Marvz Etcoban</li>
                <li>Samson Bush</li>
                <li>Julius Silver</li>
                <li>Martin Péchy</li>
                <li>Chait Goli</li>
                <li>Denis Linine</li>
            </ul>
        </div>
    </div>
</div>