<div class="container d-flex justify-content-center">
    <h3 class="style-playfair" *ngIf="continentParams === 'Afrique' 
    || continentParams === 'Amérique' 
    || continentParams === 'Asie' 
    || continentParams === 'Europe' 
    || continentParams === 'Océanie'">Destinations disponibles pour l'{{continentParams}}</h3>
</div>

<div class="container background-gris-clair">
    <div class="row d-flex justify-content-center">

        <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center" *ngFor="let destination of (continentParams === 'Afrique' ? destinationsAfrique : 
            continentParams === 'Europe' ? destinationsEurope : 
            continentParams === 'Amérique' ? destinationsAmerique : 
            continentParams === 'Asie' ? destinationsAsie : 
            continentParams === 'Océanie' ? destinationsOceanie : 
            tableauVide)">

            <div class="card" style="width: 35rem; ">
                <a routerLink="{{destination.paysDestination}}/{{destination.idDestination}}">
                    <img class="card-img-top" src={{destination.urlImage1}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{destination.paysDestination}} / {{destination.villeDestination}}</h5>
                        <p class="card-text">{{destination.titreSejour}}</p>
                        <p class="card-text">{{destination.nomHotel}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "rgb(189, 19, 67)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>