<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <a routerLink="/accueil/continents"><h1>🏝️ Invitation au voyage ✈️</h1></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <nav class="navbar navbar-expand-lg navbar-default ">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/accueil/continents">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/continents/Afrique/destinations">Afrique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/continents/Amérique/destinations">Amérique</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/continents/Asie/destinations">Asie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/continents/Europe/destinations">Europe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/continents/Océanie/destinations">Océanie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="accueil/mentions-legales">Mentions légales</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
<hr/>