<div class="container">
    <div class="row d-flex justify-content-center not-found">
        <h2>Oups!</h2>
    </div>
    <div class="row d-flex justify-content-center not-found">
        <h4>La page que vous recherchez n'existe pas !</h4>
    </div>
    <div class="row d-flex justify-content-center not-found">
        <a class="btn btn-outline-info bouton-retour" routerLink="/accueil" role="button">Retour à la page d'accueil</a>
    </div>
    <div class="row d-flex justify-content-center">
        <img src="../../assets/icones/error404.jpg" class="d-block w-50" alt="">
    </div>
</div>