<div class="container-fluid div-accueil" id="message-accueil">
  <div class="row d-flex justify-content-center">
      <h4>Bienvenue à l'invitation au voyage</h4>
  </div>
  <div class="row d-flex justify-content-center">
      <p>Nous vous proposons des voyages sélectionnés avec soin pour une détente assurée à un prix imbattable</p>
  </div>
  <div class="row d-flex justify-content-center">
      <h4>Votre prochain voyage sera inoubliable</h4>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <p class="style-playfair">Choisissez le continent de votre choix et laissez-vous séduire par nos propositions de
      voyage</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-4 col-md-4 col-sm-4 col-4" *ngFor="let continent of continents">
      <a [ngClass]="{'btn btn-outline-info lien-continent': true,
      'background-zebra': continent.nom === 'Afrique',
      'background-stars': continent.nom === 'Amérique',
      'background-asia': continent.nom === 'Asie',
      'background-europe': continent.nom === 'Europe',
      'background-tropical': continent.nom === 'Océanie'}"
      class="btn btn-outline-info lien-continent "
      routerLink="{{ continent.nom }}/destinations">{{ continent.nom }}</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-flo-maderebner-869258.jpg" class="d-block w-100"
          alt="Photo de Flo Maderebner provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-julia-volk-5110939.jpg" class="d-block w-100"
          alt="Photo de Julia Volk provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-mostafa-el-shershaby-3772630.jpg" class="d-block w-100" alt="Photo de Mostafa El Shershaby provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-161820.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-163872.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-248771.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-33109.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-371589.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-pixabay-46253.jpg" class="d-block w-100"
          alt="Photo de Pixabay provenant de Pexels">
      </div>
      <div class="carousel-item" data-interval="7000">
        <img src="../../assets/ScrollBars/page_continent/pexels-vincent-gerbouin-1174732.jpg"
        class="d-block w-100" alt="Photo de Vincent Gerbouin provenant de Pexels">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "rgb(189, 19, 67)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>