<!-- Partie image et titre du séjour -->
<div class="container" *ngFor="let voyage of tableauDetailsDuVoyage">
    <div class="row">
        <div class="col-md-12">
            <img src="{{voyage.urlImage1}}" class="d-block w-100" alt="{{voyage.descriptionImage1}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="titre-voyage">{{voyage.paysDestination}} / {{voyage.villeDestination}}</h2>
            <h3 class="titre-hotel">{{voyage.nomHotel}}</h3>
        </div>
    </div>
</div>

<!-- Partie présentation du séjour -->
<div class="container background-gris-clair" *ngFor="let voyage of tableauDetailsDuVoyage; let i = index">
    <div class="row">
        <div class="col-md-7">
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Ce que les clients ont aimé :
                        <br>
                        <em class="trait-bordeau">—</em>
                    </h5>
                    <ul class="list-group list-group-flush liste-details-voyage">
                        <li class="list-group-item" *ngFor="let item of voyage.pointsPositifs">{{item.pointPositif}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Poussez les portes de votre hôtel :
                        <br> <em class="trait-bordeau">—</em>
                    </h5>
                    <img class="d-block w-100" src="{{voyage.urlImage2}}" alt="{{voyage.descriptionImage2}}">
                    <p class="texte-details-voyage">{{voyage.descriptionHotel}}</p>
                </div>
            </div>
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Les saveurs :
                        <br> <em class="trait-bordeau">—</em>
                    </h5>
                    <img class="d-block w-100" src="{{voyage.urlImage3}}" alt="{{voyage.descriptionImage3}}">
                    <p class="texte-details-voyage">{{voyage.descriptionSaveurs}}</p>
                </div>
            </div>
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Les loisirs :
                        <br> <em class="trait-bordeau">—</em>
                    </h5>
                    <img class="d-block w-100" src="{{voyage.urlImage4}}" alt="{{voyage.descriptionImage4}}">
                    <p class="texte-details-voyage">{{voyage.descriptionLoisirs}}</p>
                </div>
            </div>
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Votre voyage vers {{voyage.villeDestination}} :
                        <br> <em class="trait-bordeau">—</em>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>VOS INFORMATIONS DE VOL 🛫</h6>
                            <p class="texte-details-voyage">{{voyage.modalitesVoyage[i].infosVol}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>LES BAGAGES ET PRESTATIONS À BORD 🛄</h6>
                            <p class="texte-details-voyage">{{voyage.modalitesVoyage[i+1].infosBaggages}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>VOS TRANSFERTS 🚍</h6>
                            <p class="texte-details-voyage">{{voyage.modalitesVoyage[i+2].infosTransferts}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row background-blanc">
                <div class="col-md-12">
                    <h5 class="titres-details-voyage">Rendez-vous à... {{voyage.villeDestination}} :
                        <br> <em class="trait-bordeau">—</em>
                    </h5>
                    <img class="d-block w-100" src="{{voyage.urlImage5}}" alt="{{voyage.descriptionImage5}}">
                    <p class="texte-details-voyage">{{voyage.rdvA}}</p>
                </div>
            </div>
        </div>

        <!-- Partie Devis du voyage -->
        <div class="col-md-5 devis-fond-blanc">
            <div class="row padding-devis">
                <div class="col-md-12">
                    <h6 class="sous-titre-devis-bordeaux">Choisissez les options de votre séjour et obtenez un devis sur-mesure</h6>
                </div>
            </div>
            <div class="row padding-devis">
                <div class="col-md-12">
                    <h6 class="titre-devis"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path
                                d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
                        </svg>Offres disponibles jusqu'au {{dateDispoJusquau | date:'dd/MM/yyyy'}}
                    </h6>
                </div>
            </div>
            <div class="row padding-devis">
                <div class="col-md-6 col-6">
                    <h6 class="titre-devis-uppercase">Sans Vol</h6>
                    <span class="mini-ecriture-grise">A partir de</span><br>
                    <span class="prix-sejour">{{arrayPrix.prixAPartirDeSansVol}} €</span>
                    <span class="par-pers">/ pers</span><br>
                    <span class="mini-ecriture-grise">pour <span
                            class="mini-ecriture-noire-bold">{{plusPetiteDureeSejour}} nuits</span></span>
                </div>
                <div class="col-md-6 col-6 ligne-verticale">
                    <h6 class="titre-devis-uppercase">Avec Vol</h6>
                    <span class="mini-ecriture-grise">A partir de</span><br>
                    <span class="prix-sejour">{{arrayPrix.prixAPartirDeAvecVol}} €</span>
                    <span class="par-pers">/ pers</span><br>
                    <span class="mini-ecriture-grise">pour <span
                            class="mini-ecriture-noire-bold">{{plusPetiteDureeSejour}} nuits</span></span>
                </div>
            </div>
            <div class="row padding-devis border-top">
                <div class="col-md-12">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-calendar-date" viewBox="0 0 16 16">
                        <path
                            d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                    </svg>
                    <span class="mini-ecriture-grise">Durées des séjours disponibles :
                        <span class="mini-ecriture-noire-bold"
                            *ngFor="let duree of arrayDureeTarifsHebergement">{{duree.dureeHebergement}},
                        </span>nuits</span>
                </div>
            </div>

            <!-- Partie soumise au formulaire -->
            <form [formGroup]="devisForm" (ngSubmit)="onSubmitForm()">
                <div class="row padding-devis border-top">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="sous-titre-devis">Transport</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="btn-group-vertical" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-secondary petit-carre-vol" id="btn-sans-vol" name="transport" value="{{transport}}" (click)="miseAjourStatutTransportFalse()">
                                                <span class="mini-ecriture-noire-bold" >Sans vol</span>
                                            </button>
                                            <button type="button" class="btn btn-secondary petit-carre-vol" id="btn-avec-vol" name="transport" value="{{transport}}" (click)="miseAjourStatutTransportTrue()">
                                                <span class="mini-ecriture-noire-bold" >Vol au départ de</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="transport">
                                    <div class="col-md-12 padding-gauche">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="villeDepartVol"
                                                formControlName="villeDepartVol" id="villeDepartVol1" value="Paris" (click)="miseAjourStatutVilleDepartFalse()">
                                            <label class="form-check-label" for="villeDepartVol">
                                                Paris
                                            </label>
                                            <span class="mini-ecriture-grise"> à partir de {{
                                                this.arrayPrix.prixVolAuDepartDeParis }} €</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="villeDepartVol"
                                                formControlName="villeDepartVol" id="villeDepartVol2" value="Marseille" (click)="miseAjourStatutVilleDepartFalse()">
                                            <label class="form-check-label" for="villeDepartVol">
                                                Marseille
                                            </label>
                                            <span class="mini-ecriture-grise"> à partir de {{
                                                this.arrayPrix.prixVolAuDepartDeMarseille }} €</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="villeDepartVol"
                                                formControlName="villeDepartVol" id="villeDepartVol3" value="Lyon" (click)="miseAjourStatutVilleDepartFalse()">
                                            <label class="form-check-label" for="villeDepartVol">
                                                Lyon
                                            </label>
                                            <span class="mini-ecriture-grise"> à partir de {{
                                                this.arrayPrix.prixVolAuDepartDeLyon }} €</span>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="villeDepartVol"
                                                formControlName="villeDepartVol" id="villeDepartVol4" value="Nantes" (click)="miseAjourStatutVilleDepartFalse()">
                                            <label class="form-check-label" for="villeDepartVol">
                                                Nantes
                                            </label>
                                            <span class="mini-ecriture-grise"> à partir de {{
                                                this.arrayPrix.prixVolAuDepartDeNantes }} €</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-devis border-top">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="sous-titre-devis">Durée et date de départ</h6>
                                <h6 class="mini-ecriture-noire-bold">Durées disponibles pour ce séjour : </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group mr-2 petit-carre" role="group" aria-label="First group"
                                 *ngFor="let tarif of arrayDureeTarifsHebergement; let i = index">
                                    <button type="button" class="btn btn-secondary"
                                        (click)="choixDureeSejour(tarif.dureeHebergement, i)">
                                        <label for="nbNuits" class="mini-ecriture-noire-bold"
                                            value="duree">{{tarif.dureeHebergement}}</label>
                                        <span class="mini-ecriture-noire-bold"> nuits</span><br>
                                        <span class="mini-ecriture-grise">à partir de</span><br>
                                        <span class="par-pers">{{tarif.prixHebergement}} €</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6 class="mini-ecriture-noire-bold margin-top">Date de départ souhaitée : </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3 margin-top">
                                    <input type="date" id="dateDepart" name="dateDepart" min="2021-01-01"
                                        max="2022-12-31" formControlName="dateDepart">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-devis border-top">
                    <div class="col-md-12">
                        <div class="row">
                            <h6 class="sous-titre-devis">Participants</h6>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <label for="nbParticipantsAdulte" class="mini-ecriture-noire-bold">Adultes</label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <button class="btn btn-default bouton-plus-moins" type="button" id="moinsAdulte"
                                    (click)="retirerAdulte()">-</button>
                                <input type="text" class="champ-nombre" id="nbParticipantsAdulte"
                                    value="{{nbParticipantsAdulte}}" formControlName="nbParticipantsAdulte" readonly>
                                <button class="btn btn-default bouton-plus-moins" type="button" id="plusAdulte"
                                    (click)="ajouterAdulte()">+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <label for="nbParticipantsEnfant" class="mini-ecriture-noire-bold">Enfants <span
                                        class="mini-ecriture-grise">(2-12 ans)</span></label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <button class="btn btn-default bouton-plus-moins" type="button" id="moinsEnfant"
                                    (click)="retirerEnfant()">-</button>
                                <input type="text" class="champ-nombre" id="nbParticipantsEnfant"
                                    value="{{nbParticipantsEnfant}}" formControlName="nbParticipantsEnfant" readonly/>
                                <button class="btn btn-default bouton-plus-moins" type="button" id="plusEnfant"
                                    (click)="ajouterEnfant()">+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <label for="nbParticipantsBebe" class="mini-ecriture-noire-bold">Bébés <span
                                        class="mini-ecriture-grise">(- de 2 ans)</span></label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12 sous-div-participants">
                                <button class="btn btn-default bouton-plus-moins" type="button" id="moinsBebe"
                                    (click)="retirerBebe()">-</button>
                                <input type="text" class="champ-nombre" id="nbParticipantsBebe"
                                    value="{{nbParticipantsBebe}}" formControlName="nbParticipantsBebe" readonly/>
                                <button class="btn btn-default bouton-plus-moins" type="button" id="plusBebe"
                                    (click)="ajouterBebe()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row padding-devis border-top">
                    <div class="col-md-12">
                        <h6 class="sous-titre-devis">Informations client</h6>
                        <div class="form-group">
                            <label class="mini-ecriture-noire-bold" for="nomClient">Votre nom et prénom</label>
                            <input type="text" class="form-control" id="nomClient" placeholder="Nom et prénom"
                                formControlName="nomClient">
                        </div>
                        <div class="form-group">
                            <label class="mini-ecriture-noire-bold" for="emailClient">Votre adresse email</label>
                            <input type="email" class="form-control" id="emailClient" aria-describedby="emailHelp"
                                placeholder="Email" formControlName="emailClient">
                        </div>
                    </div>
                </div>

                <div class="row padding-devis border-top">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <span class="titre-options-center">Complétez le formulaire ci-dessus pour obtenir un devis sur votre séjour</span>
                            </div>
                        </div>
                        <div class="row" *ngIf="villeDepartManquante">
                            <div class="col-md-12 d-flex justify-content-center">
                                <span class="titre-options-center border-gris-clair">Il manque la ville de départ de votre vol, veuillez cliquer sur la ville de votre choix et soumettre à nouveau la demande de devis</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-default bouton-final-devis" [disabled]="devisForm.invalid">Finaliser le devis</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "rgb(189, 19, 67)" type = "ball-spin-clockwise" [fullScreen] = "true"></ngx-spinner>